@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
:root{
    box-sizing:border-box;
    --red-color: #fc354c;
    --aqua-color: #0abfbc;
    /* gradient name Mia */
    --paragraph-color:#707070;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(var(--red-color),var(--aqua-color));
    border-radius:20px;
}
*,::before,::after{
    box-sizing:inherit;
}
body{
    font-family:'Mulish',sans-serif;
    background:#f9fbff;
}
h1{
    font-size:2.8rem;
    font-weight:900;
    letter-spacing:3px;
}
h2{
    font-size:1.75rem;
    font-weight:700;
    
}
p{
    font-weight:400;
    font-size:1rem;
    color:var(--paragraph-color);
}
a{
    font-size:1rem;
    color:#fff;
}
.mt-100{
    margin-top:100px;
}
.mt-70{
    margin-top:70px;
}
/* Navigation Section */
.navbar-nav .nav-item{
    margin:0 10px;
}
nav.stickyadd .active{
    border-bottom:1.5px solid rgba(0,0,0,0.7);
}
nav.stickyadd{
    background-color:rgba(255,255,255,0.9);
    transition:all 0.5s;
}
nav.stickyadd .nav-item .nav-link{
    color:rgba(0,0,0,0.7);
}
nav.stickyadd .navbar-brand{
    color:rgba(0,0,0,0.7);
}
nav.stick{
    transition:all 0.5s;
}
.hamburger{
    color:#fff;
    font-size:1.5rem;
}
.hamburger.whenscrolled{
    color:#000;
}
/* Hero section */
#particles-js{
    height:130vh;
    width:100%;
    background-color:rgba(255,255,255,0.1);
    position:absolute;
}
.hero{
    height:120vh;
    width:100%;
    background-image:linear-gradient(rgba(180, 86, 149, 0.8),rgba(180, 86, 149, 0.8)),url(../assets/iStock-910798536-Strategy-Meeting.jpg);
    background-size: cover;
    background-position:center;

}
.hero-content{
    color:#fff;
    
}
/* About section */
.about-class{
    margin-top:-105px;
}
.about-content{
    background:linear-gradient(135deg, var(--red-color), var(--aqua-color));
}
.wrap{
    margin-top:40px;
    padding:30px;
}
.wrap p,
.wrap h2{
    color:#fff;
}
.wrap h2{
    margin-bottom:20px;
}
/* service */
.service-show{
   text-align:center;
   
   
   
   
}
.service-class .card{
    padding:25px;
    margin-bottom:30px;
    
   
    
}
/* i */
.service-class i{
    font-size:50px;
    background: linear-gradient(var(--red-color),black);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;

}

/* TEAM */
.team-class{
    z-index:3;
    padding:70px;
}
.team-class img{
    z-index:2;
}
.team-class .bg-white{
    background:#fff;
}
.team-content{
    padding:12px;
}
.team-class .box{
    position:relative;
    z-index:1;
}
.team-class .box::before{
    content:'';
    height:100%;
    width:97%;
    position:absolute;
    top:-20px;
    left:-20px;
    
    z-index: -1;
    background:linear-gradient(135deg,var(--red-color),var(--aqua-color));
}
/* Project Section */
.project-class i{
    font-size:40px;
    background:linear-gradient(var(--red-color),black);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:20px 0 5px 20px;
}
.project-class .col-lg-3{
    padding:0;
}
.project-class .card{
    margin-right: 5px;;
}
/* Contact Section */
.contact-class .bg-contact{
    height:40vh;
    width:100%;
    background: linear-gradient(rgba(74,118,237,0.8),#4a76edcc),url('../assets/googlemaps_july2016.jpg');
    background-position:200 200;
    background-size:cover;
    background-repeat: no-repeat;
   

}
.contact-content{
    margin-top:-20vh;
}

.contact-class form{
    background-color:#fff;
    padding:70px;
}
.contact-class .kfc{
    text-align:center;
    margin-bottom: 25px;
    background: linear-gradient(var(--red-color),black);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;

}
.contact-class .contact-addr{
    background:linear-gradient(135deg,var(--red-color),var(--aqua-color));
    padding:60px;
    color:#fff;
}
.contact-class .contact-addr p{
   color:#fff;
    margin:20px 0;
    
    padding-left:25px;
    position:relative;
}
.contact-class .contact-addr .op:before {
    content:"\f041";
    font-family:fontawesome;
    position:absolute;
    left:0.8px;
}
.contact-class .contact-addr .gg:before {
    content:"\f098";
    font-family:fontawesome;
    position:absolute;
    left:0.5px;
}
.contact-class .contact-addr .ll:before {
    content:"\f0e0";
    font-family:fontawesome;
    position:absolute;
    left:0.5px;
}
.contact-class .contact-addr .hh:before {
    content:"\f10b";
    font-family:fontawesome;
    position:absolute;
    left:0.5px;
}
.contact-class .social-icon{
    display:table;
}
.contact-class .social-icon i{
    
    font-size:20px;
    padding:5px;
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-instagram:hover {
    color: #FD1D1D;
}
.fa-linkedin-in:hover{
    color:#04669A;
}
.fa-twitter:hover{
    color:#00B6F1;
}
.fa-youtube:hover{
    color:#C31A1E;
}
.fa-github:hover{
    color:#040204;
}
/* Footer */
footer{
    height:60px;
    line-height:60px;
    text-align:center;
    background:#0c003e;
}
footer p{
    color:#fff;
}
@media(max-width:575.98px){
    h1{
        font-size:1.5rem;
        font-weight:900;
    }
    h2{
        font-size:1.2rem;
        font-weight:700;
    }
    .about-class{
        margin-top:0;
    }
    .service-class{
        text-align:center;
    }
    .service-content{
        margin-bottom:50px;
    }
    .team-class{
        text-align:center;
    }
    .team-class h2{
        text-align:center;
    }
    .team-class .team-content{
        margin-top:50px;
    }
    .project-class .card{
        margin-right:0;
        margin-bottom:30px;
    }
    .project-class .col-lg-3{
        padding:15px;
    }
    .contact-class{
        text-align:center;
    }
    .contact-class form{
        padding:40px;
    }
    .contact-class .contact-addr{
        padding:40px;
        line-height:center;
    }
    footer{
        height:60px;
        line-height:60px;
    }
}
